:root {
  --font-family: "Inter", sans-serif;
  --content-width: 1280px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --header-height: 0px;
  --light-color: #fff;
  --second-color: rgb(0, 89, 255);
  --second-color-hover: rgb(0, 43, 232);
  --second-color-alpha: rgb(232, 230, 255);
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family);
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.img-contain {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.img-absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

body {
  --width-active-bullet: 0%;
}

.header {
  width: 100%;
  position: relative;
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.head__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 12px 0;
}

.head__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: #000;
}
.head__link:hover {
  color: var(--second-color);
}

.header__head-border-bottom {
  width: 200%;
  -webkit-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  transform: translateX(-25%);
  border-bottom: 1px solid rgb(243, 243, 247);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 25px;
  gap: 16px;
}

.header__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  width: 250px;
}

.header__delivery-text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
}
.header__delivery-text .select-sity {
  color: var(--second-color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.header__delivery-text .select-sity:hover {
  color: var(--second-color-hover);
}

.header__phone-number {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  color: #000;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.header__phone-number:hover {
  color: var(--second-color);
}

.mobile__header {
  display: none;
  z-index: 25;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  padding: 12px 0;
}
.mobile__header.header--active {
  background-color: #000;
  padding: 12px var(--container-offset);
  margin: 0 calc(var(--container-offset) * -1);
}

.header__logo-mobile {
  width: 200px;
}

.mobile__phone-number,
.mobile__delivery,
.mobile-delivery-time,
.google-play__img {
  display: none;
}

.star-rating {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  direction: ltr;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.star {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#fc0), color-stop(100%, #fc0), color-stop(100%, #ccc), to(#ccc));
  background: linear-gradient(to right, #fc0 0%, #fc0 100%, #ccc 100%, #ccc 100%);
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polygon points="12,2 15,9 22,9 17,14 19,21 12,17 5,21 7,14 2,9 9,9"/></svg>') center/contain no-repeat;
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polygon points="12,2 15,9 22,9 17,14 19,21 12,17 5,21 7,14 2,9 9,9"/></svg>') center/contain no-repeat;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.delivery-time__text {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.delivery-time__rate {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: yellow;
}

.mobile__menu {
  display: contents;
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.burger {
  --burger-width: 24px;
  --burger-height: 24px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active {
  color: #fff;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header__order {
  color: #fff;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--second-color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 100px;
  margin-left: auto;
}
.header__order:hover {
  background-color: var(--second-color-hover);
}

.nav-logo {
  width: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header-fixed {
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.fixed .nav-logo {
  width: 32px;
}
.fixed .nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.sticky-placeholder {
  height: 0;
  visibility: hidden;
}

.nav-menu-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  padding: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  scrollbar-width: none;
}

.nav-list__link {
  font-weight: 600;
  color: #000;
  font-size: 14px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.nav-list__link:hover {
  color: var(--second-color);
}

.storyboard {
  width: 100%;
  position: relative;
}

.swiper__storyboard {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.storyboard__slide {
  min-width: 200px;
  width: auto;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.storyboard-bg {
  width: 100%;
  aspect-ratio: 4/5;
  position: relative;
}
.storyboard-bg img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.storyboard-btn {
  position: absolute;
  top: 50%;
  height: 48px;
  width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.storyboard-btn svg {
  height: 24px;
  width: 14px;
  -o-object-fit: contain;
  object-fit: contain;
}
.storyboard-btn svg use {
  fill: none;
  stroke: var(--second-color);
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-linejoin: round;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.storyboard-btn:hover svg use {
  stroke: var(--second-color-hover);
}
.storyboard-btn.prev {
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  left: 0;
}
.storyboard-btn.prev svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.storyboard-btn.next {
  -webkit-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  right: 0;
}
.storyboard-btn.swiper-button-disabled {
  display: none;
}

.often-order {
  width: 100%;
  height: 100%;
}
.often-order .swiper-wrapper {
  padding: 0 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.swiper__often-order {
  overflow: visible;
}

.often-order-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
}

.often-order__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px;
  min-width: 200px;
  max-width: 300px;
  -webkit-box-shadow: rgba(6, 5, 50, 0.15) 0px 4px 22px -6px;
  box-shadow: rgba(6, 5, 50, 0.15) 0px 4px 22px -6px;
}

.often-order__slide-img {
  width: 33.3333333333%;
  height: auto;
}

.often-order__slide-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}

.often-order__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.often-order__cost {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}
.often-order__cost.old span {
  position: relative;
  display: inline-block;
}
.often-order__cost.old span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: red;
  top: 75%;
  left: 0;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

@media (max-width: 1370px) {
  .storyboard-btn {
    display: none;
  }
}
@media (max-width: 978px) {
  .mobile__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile__menu {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile__menu.menu--active {
    z-index: 20;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    width: 100%;
    height: 100vh;
    top: var(--header-height);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #000;
    margin: 0 calc(var(--container-offset) * -1);
    padding-top: 16px;
    padding-bottom: 100px;
    padding-left: 35px;
    padding-right: var(--container-offset);
    border-top: 1px solid rgb(243, 243, 247);
  }
  .mobile__menu.menu--active .header__logo,
  .mobile__menu.menu--active .header__phone-number,
  .mobile__menu.menu--active .header__delivery-text,
  .mobile__menu.menu--active .header__phone-number {
    display: none;
  }
  .mobile__menu.menu--active .header__main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 16px;
  }
  .mobile__menu.menu--active .google-play__img {
    display: block;
    width: 200px;
  }
  .mobile__menu.menu--active .head__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .mobile__menu.menu--active .head__links .head__link {
    color: #fff;
  }
  .mobile__menu.menu--active .mobile__delivery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }
  .mobile__menu.menu--active .mobile__delivery .delivery-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 3px;
  }
  .mobile__menu.menu--active .mobile__delivery .delivery-text .delivery-adress {
    font-size: 20px;
    letter-spacing: 0.4px;
    font-weight: 400;
    color: #fff;
  }
  .mobile__menu.menu--active .mobile__delivery .delivery-text .delivery__subtext {
    font-size: 13px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    opacity: 0.5;
  }
  .mobile__menu.menu--active .mobile__delivery .delivery-img {
    width: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: -30px;
  }
  .mobile__menu.menu--active .mobile__phone-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding-top: 20px;
  }
  .mobile__menu.menu--active .mobile__phone-number .phone-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3px;
  }
  .mobile__menu.menu--active .mobile__phone-number .phone-text .phone-number {
    font-size: 20px;
    letter-spacing: 0.4px;
    font-weight: 400;
    color: #fff;
  }
  .mobile__menu.menu--active .mobile__phone-number .phone-text .phone__subtext {
    font-size: 13px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    opacity: 0.5;
  }
  .mobile__menu.menu--active .mobile__phone-number .phone-img {
    width: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: -30px;
  }
  .mobile-delivery-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    padding: 20px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgb(243, 243, 247);
  }
}
body.lock {
  overflow: hidden;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  z-index: 100;
}

.popup::after {
  content: "";
  position: absolute;
  top: -40px;
  left: -40px;
  right: -40px;
  bottom: -40px;
  background: inherit;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  z-index: -1;
  overflow: hidden;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.popup__content {
  position: relative;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.story-btn {
  position: absolute;
  top: 50%;
  height: 48px;
  width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.story-btn svg {
  height: 32px;
  width: 32px;
  -o-object-fit: contain;
  object-fit: contain;
}
.story-btn svg use {
  fill: none;
  stroke: #fff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.story-btn:hover svg use {
  stroke: var(--second-color);
}
.story-btn.prev {
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  left: 20%;
}
.story-btn.prev svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.story-btn.next {
  -webkit-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  right: 20%;
}
.story-btn.swiper-button-disabled {
  display: none;
}

.swiper__story {
  max-width: 95%;
  height: 100vh;
  aspect-ratio: 1/1.58;
  padding: 25px 0;
  position: relative;
  -o-object-fit: contain;
  object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.swiper__story .swiper-wrapper {
  height: auto;
}

.slide__story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  height: auto;
}

.close-storyboard {
  position: absolute;
  top: 88px;
  right: 10px;
  z-index: 15;
}

.swiper-button-lock {
  display: block;
}

.swiper__story-slide {
  width: 100%;
  height: 100%;
}

.story-fragment-btn {
  z-index: 10;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
}
.story-fragment-btn.prev {
  left: 0;
}
.story-fragment-btn.next {
  right: 0;
}

.slide__story-fragment img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.slide__story-fragment video {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  background-color: #000;
}

.pagination-fragments {
  position: absolute;
  top: 15px !important;
  right: 15px;
  left: 15px !important;
  z-index: 15;
  height: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: unset !important;
}
.pagination-fragments > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.swiper-pagination-lock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-pagination-bullet:only-child {
  display: block !important;
}

.swiper-pagination-bullet {
  background-color: silver !important;
  border-radius: 20px;
  opacity: 0.8;
  position: relative;
}

.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 20px;
  height: 8px;
  z-index: 20;
  width: var(--width-active-bullet, 0%);
}

.swiper-pagination-bullet:has(+ .swiper-pagination-bullet.swiper-pagination-bullet-active) {
  background-color: #fff !important;
}

.catalog {
  width: 100%;
  margin: 16px 0;
}

.catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 32px;
}

.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.4;
}

.catalog-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  gap: 60px 30px;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.catalog-item__img {
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 10px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  position: relative;
}
.catalog-item__img img {
  position: absolute;
  height: 100%;
}
.catalog-item__img:hover {
  margin-top: 10px;
  margin-bottom: 0;
}

.catalog-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 16px;
}

.catalog-item__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.catalog-item__description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.catalog-item__buy-block {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.catalog-item__cost {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}

.catalog-item__buy-btn {
  padding: 8px 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--second-color);
  background-color: var(--second-color-alpha);
  border-radius: 100px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.catalog-item__buy-btn:hover {
  background-color: var(--second-color-hover);
  color: #fff;
}

@media (max-width: 1024px) {
  .catalog-list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .catalog-list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 475px) {
  .catalog-list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer {
  width: 100%;
  background-color: rgb(24, 24, 24);
  padding: 25px 0;
  color: #fff;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
}

.footer-links-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.link-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
}

.link-group__title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 1.4;
}

.footer-link {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 1.4;
  color: #fff;
  opacity: 0.7;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.footer-link:hover {
  color: var(--second-color-hover);
}

.footer__down-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.stat-title {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.4;
}

.stat-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  opacity: 0.7;
}

.footer__down-block-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding: 25px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-logo {
  width: 200px;
}
.footer-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.footer__down-block-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  opacity: 0.7;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.footer__down-block-link:hover {
  color: var(--second-color-hover);
}

.social-links {
  margin-left: auto;
}
.social-links .social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.social-links .social .social__link {
  background-color: rgba(196, 196, 196, 0.2);
  padding: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  opacity: 0.7;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.social-links .social .social__link:hover {
  opacity: 1;
}
.social-links .social .social__link img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  color: rgb(92, 99, 112);
}

@media (max-width: 768px) {
  .footer-links-block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px 60px;
  }
  .footer-stats {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 640px) {
  .footer__down-block-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .social-links {
    margin-left: unset;
  }
}
@media (max-width: 475px) {
  .footer-links-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.delivery {
  width: 100%;
  margin: 16px 0;
}

.delivery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 32px;
}

.delivery-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
}

.delivery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
.delivery__content > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.delivery-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.delivery-block__title {
  font-weight: 500;
  font-size: 18px;
  color: var(--second-color);
}

.delivery-block__description {
  font-weight: 500;
  font-size: 16px;
}

.delivery-img {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
}
.delivery-img:hover img {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.delivery-img img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  inset: 0px;
  -webkit-transition: 10s;
  transition: 10s;
}

@media (max-width: 768px) {
  .delivery__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
  }
}
/*# sourceMappingURL=main.css.map */